<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>GitWatchers</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">

<style>
body {
	background-color: white;
	text-align: center;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>

	<div th:replace="base/layout :: navbar"></div>

	<br>

	<br>
	<div class="d-flex justify-content-center">

		<form th:action="@{github/colaboracoes}" method="get">
			<div class="row form-group">
				<label for="nome">Usuário</label><input name="user" class="form-control"/>
			</div>

			<br>
			<div class="row form-group">
				<label for="repositorio">Repositório</label><input
					name="nomeRepositorio" class="form-control" />
			</div>
			<br>
			<button class="btn btn-success" type="submit">Buscar</button>
		</form>
	</div>


	<br>


	<div class="d-flex justify-content-center">
		<table>
			<th:block th:each="colaboracao : ${listaColaboracoes}">
				<tr>
					<td th:text="' Usuário: ' + ${colaboracao?.usuario + ' &nbsp;'}">...</td>
					<td
						th:text="' Commits:  ' +  ${colaboracao?.contribuicoes} + ' commit(s)'">...</td>
				</tr>
			</th:block>
		</table>
	</div>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>
</html>