<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>GitWatchers</title>
</head>
<body>

	<form action="/index" method="get">
		<label for="nome">Nome: </label> <input name="user" />
		<button type="submit">mandar</button>
	</form>


	<span th:text="${listaRepositorios != null} ? ${listaRepositorios} : 'null value!'">someValue</span>


	<table>
		<th:block th:each="porcentagem : ${listaPorcentagens}">
			<tr>
				<td th:text="${porcentagem}">...</td>
				<td th:text="${porcentagem?.linguagem}">...</td>
				<td th:text="${porcentagem?.porcentagem}">...</td>
			</tr>
		</th:block>
	</table>

</body>
</html>