<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>GitWatchers - Repositorios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" th:href="style.css">
</head>

<body th:erroFuncao="${errorMessage}" th:onload="SweetAlertErro()">

    <!-- <div th:replace="base/layout :: navbar"></div> -->

	<!-- <div th:replace="base/layout :: navbar"></div> -->
	<div class="wrapper">
		<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>GitWatchers</h3>
			</div>
			<ul class="list-unstyled components">
				<li>
					<a href="/">Home</a>
				</li>

				<li class="active">
					<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Páginas</a>
					<ul class="collapse list-unstyled" id="homeSubmenu">
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/colaboracoes">Colaborações</a>
						</li>
						<li>
							<a href="/repositorios">Repositorios</a>
						</li>

						<li>
							<a href="/detalhes">Detalhes</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Github</a>
				</li>
			</ul>
		</nav>

		<!-- Page Content Holder -->
		<div id="content">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">

					<button type="button" id="sidebarCollapse" class="navbar-btn">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fas fa-align-justify"></i>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="nav navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href="/">Inicio</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Em breve...</a>
							</li>

						</ul>
					</div>
				</div>
			</nav>

    <br>

    <br>
    <div class="d-flex justify-content-center">
        <form action="/repositoriosPorLinguagem" method="get">
            <div class="row form-group">
                <label for="nome">Usuário</label>
                <input name="user" th:id="${txtUser}" class="form-control" />
            </div>

            <br>
            <div class="row form-group">
                <label for="linguagem">Linguagem</label>
                <input name="linguagem" class="form-control" />
            </div>
            <br>
            <button class="btn btn-success" type="submit">Buscar</button>
        </form>
    </div>

    <br>

    <!-- repositorios -->
    <div class="d-flex justify-content-center">
        <table>
            <th:block th:each="Repositorio : ${repositorios}">
                <tr>
                    <td><a th:href="@{'/colaboracoesPorUsuario?user=' + ${Repositorio?.donoRepos}+'&nomeRepositorio='+${Repositorio?.nome}}"
                            th:text="${Repositorio?.nome}" /></td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
</div>




    <script type="text/javascript">

        window.onload = (event) => {
            var user = getParameterByName('user');
            var nomeRepositorio = getParameterByName('nomeRepositorio');

            document.getElementById("user").innerText = user;
            document.getElementById("nomeRepos").innerText = nomeRepositorio;
        };


        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');

            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);

            if (!results)
                return null;

            if (!results[2])
                return '';

            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
        integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
        crossorigin="anonymous"></script>

        <script type="text/javascript">
            function isEmpty(str) {
                return (!str || 0 === str.length);
            }
    
            function SweetAlertErro() {
                var erro = document.querySelectorAll('body')[0].getAttribute('erroFuncao');
    
                if (isEmpty(erro) == false) {
                    swal({
                        title: 'Atenção',
                        text: erro,
                        icon: "error",
                        dangerMode: false,
                    });
                }
            }
    
            function SweetAlertSucesso(titulo, textoConteudo) {
                swal({
                    title: titulo,
                    text: textoConteudo,
                    icon: "success",
                    dangerMode: false,
                });
            }
    
        </script>

   <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

</body>

</html>