<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>GitWatchers</title>
</head>
<body>
<!-- 
	<form method="GET">

		Usuario:<br> <input type="text" name="user"><br> <br>

		<input type="submit" value="porcentagens">

	</form> -->

	<span th:text="${aluno}">
		
	</span>
	
	<br>
		<span th:text="${repositorios}">
		
	</span>
<!-- 
	<form action="github/" method="GET">

		Usuario:<br> <input type="text" name="user"><br> <br>

		<input type="submit" value="porcentagens">

	</form>
 -->


</body>
</html>